body {
  float: none;
}
div {
  max-width: max-content;
  margin: 0px auto;
}
.row {
  text-align: center;
}
.match {
  display: inline-block;
}
img.selected {
  filter: sepia(100%);
  text-align: center;
}
img.confirm {
  filter: grayscale(100%);
  text-align: center;
}
.match:hover {
  border: 1px dashed black;
}
body.playerA {
  background-color: grey;
}
body.playerB {
  background-color: yellow;
}
